.lead {
  margin: 56px auto 0;
  max-width: 984px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.lead__title {
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
  max-width: 720px;
  width: 100%;
  color: var(--font-main-color);
}

.lead__subtitle {
  font-weight:400;
  font-size: 30px;
  line-height: 36px;
  margin: 32px auto 0;
  max-width: 640px;
  width: 100%;
  text-align: center;
  color: var(--font-main-color);
}

.lead__image {
  margin: 64px 0 0 0;
    
}

.lead__caption {
  margin: 8px 0 0 0;
  text-transform: uppercase;
  color: var(--font-main-color);
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin-top: -8px;
  }

  .lead__image {
    margin-top: 56px;
  }  
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin: 56px -24px 0;
  }
}

@media screen and (max-width: 730px) {
  .lead__image {
    margin: 40px -24px 0;
  }

  .lead__title {
    margin-top: -8px;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin: 40px -16px 0;
  }
}