.header {
  margin: 0 auto;
  padding: 0 48px;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
  
@media screen and (max-width: 768px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 370px) {
  .header {
    padding: 0 16px;
  }
}