.intro {
  display: grid;
  grid-template-columns: minmax(auto, 690px);
  grid-template-rows: repeat(3, fit-content);
  max-width: 984px;
  margin: 92px auto 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    grid-template-columns: minmax(auto, 720px);
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    grid-template-columns: minmax(auto, 288px);
    margin: 64px 16px 0;
  }
}