.cover {
  max-width: 1184px;
  width: 100%;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 740px;
  position: relative;
  display: flex;
  cursor: pointer;
  margin-bottom: 92px;
}

.cover__overlay {
  position: absolute;
  background-color: #2A2C2F;
  width: 100%;
  height: 100%;
  transition: opacity .25s ease-in-out;
  opacity: 0.3;
}

.cover__overlay:hover {
  opacity: .8;
}

.cover__content {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 32px;
}

.cover__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
}

.cover__subtitle {
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
}