.cover__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 32px;
  z-index: 99;
}

@media screen and (max-width: 550px) {
  .cover__content {
    gap: 16px;
  }
}